<div class="panel-bg intro-musicplayer-bg">
    <div class="contentBox intro-musicplayer-info">
        <img src="/samples/albumCover.png" class="intro-musicplayer-cover"></img>
        <div class="verticalCenterFlexBox">
            <div id="title">Monochrome and Vivid</div>
            <div id="artist">ぺのれり / 零</div>
        </div>
    </div>
    <div class="contentBox intro-musicplayer-progressbar">
        <div id="progressbar"></div>
        <div id="position" class="monospace intro-musicplayer-time">02:41</div>
        <div id="length" class="monospace intro-musicplayer-time">08:07</div>
    </div>
</div>