_Recordings/*
!_Recordings/Save your Recordings here!.txt

__Setup/.wget-hsts

gosumemory/gosumemory.exe
gosumemory/config.ini
gosumemory/static/samples/

__Setup/OBS/Patched/*
__Setup/gosumemory
__Setup/gosumemory.zip
