body{
    width: 1920px;
    height: 1080px;
}

#logo{
    width: 190px;
    position: absolute;
    top: 20px;
    left: 50%;
    transform: translate(-50%);
}

#frame{
    position: absolute;
    top: 135px;
}

#topbar{
    position: absolute;
    top: 25px;
    left: 50%;
    transform: translate(-50%);
    width: 1824px;
    height: 80px;
    display: flex;
    flex-direction: row;
}

.acronym {
    width: 210px;
    height: 80px;
    line-height: 80px;
    font-size: 48px;
}

.teamName{
    max-width: 600px;
    margin-left: 24px;
    margin-right: 24px;
    font-size: 40px;
    font-weight: 700;
}

.metadata{
    position: absolute;
    top: 310px;
    right: 0px;
}

#leftBox{
    position: absolute;
    left: 0px;
    top: 200px;
    width: 400px;
    height: 650px;
}


.divider{
    margin-left: 24px;
    margin-right: 24px;
    width: 2px;
}

#matchCodeBox{
    position: absolute;
    left: 0px;
    bottom: 56px;
    width: 420px;
    height: 100px;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    font-size: 32px;
    font-weight: 700;
}

#matchCode{
    font-size: 96px;
}